* text=auto eol=lf

*.png   binary
*.jpg   binary
*.jpeg  binary
*.gif   binary
*.webp  binary
*.ico   binary
*.cur   binary
*.ogg   binary
*.mp3   binary
*.wav   binary
*.woff  binary
*.woff2 binary
*.ttf   binary
*.otf   binary
*.pdf   binary
*.zip   binary
