<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/info.css" />
    <link rel="shortcut icon" href="/images/favicon.ico" />
    <title>URLATE Info</title>
  </head>
  <body>
    <h1>Project URLATE-v3l</h1>
    <span class="copyright">Copyright © Team Croissant, 2023</span>
    <span class="title">Tracks</span>
    <table>
      <tr>
        <td>
          Geoplex
          <a href="https://www.youtube.com/@Geoplex" target="_blank"><img src="/images/parts/icons/youtube.svg" alt="YouTube" /></a>
        </td>
        <td>
          <a href="https://soundcloud.com/geoplex/geoplex-exogenesis" target="_blank" class="link">Exogenesis</a>
          <span>URLATE Theme</span>
        </td>
      </tr>
      <tr>
        <td>
          Greenstar
          <a href="https://soundcloud.com/greenstar1151" target="_blank"><img src="/images/parts/icons/soundcloud.svg" alt="SoundCloud" /></a>
          <a href="https://www.youtube.com/@Greenstar1151" target="_blank"><img src="/images/parts/icons/youtube.svg" alt="YouTube" /></a>
        </td>
        <td>
          <a href="https://soundcloud.com/greenstar1151/bittersweet-adventure" target="_blank" class="link">Bittersweet Adventure</a>
        </td>
      </tr>
      <tr>
        <td>
          mkhito
          <a href="https://soundcloud.com/mkhitomusic" target="_blank"><img src="/images/parts/icons/soundcloud.svg" alt="SoundCloud" /></a>
          <a href="https://www.youtube.com/@mkhito" target="_blank"><img src="/images/parts/icons/youtube.svg" alt="YouTube" /></a>
        </td>
        <td>
          <a href="https://soundcloud.com/mkhitomusic/bring-me-up" target="_blank" class="link">Bring Me Up</a>
        </td>
      </tr>
      <tr>
        <td>
          Neko Hacker
          <a href="https://www.youtube.com/@NekoHacker" target="_blank"><img src="/images/parts/icons/youtube.svg" alt="YouTube" /></a>
        </td>
        <td>
          <a href="https://youtu.be/ou8ac7l1y7Y" target="_blank" class="link">曖昧サイボーグ</a>
          <a href="https://youtu.be/qyY3UhQhZK4" target="_blank" class="link">ピポピポ -People People-</a>
        </td>
      </tr>
      <tr>
        <td>
          fusq
          <a href="https://soundcloud.com/fusq" target="_blank"><img src="/images/parts/icons/soundcloud.svg" alt="SoundCloud" /></a>
          <a href="https://www.youtube.com/@fusq" target="_blank"><img src="/images/parts/icons/youtube.svg" alt="YouTube" /></a>
        </td>
        <td>
          <a href="https://soundcloud.com/fusq/perfume" target="_blank" class="link">Perfume!</a>
          <a href="https://soundcloud.com/fusq/yeah" target="_blank" class="link">Yeah!</a>
        </td>
      </tr>
      <tr>
        <td>
          Yunomi
          <a href="https://soundcloud.com/tkrism" target="_blank"><img src="/images/parts/icons/soundcloud.svg" alt="SoundCloud" /></a>
          <a href="https://www.youtube.com/@yunomichanel" target="_blank"><img src="/images/parts/icons/youtube.svg" alt="YouTube" /></a>
        </td>
        <td>
          <a href="https://soundcloud.com/tkrism/indoor" target="_blank" class="link">インドア系ならトラックメイカー</a>
          <a href="https://soundcloud.com/tkrism/jellyfish" target="_blank" class="link">ジェリーフィッシュ</a>
        </td>
      </tr>
      <tr>
        <td>
          Synthion
          <a href="https://soundcloud.com/synthion" target="_blank"><img src="/images/parts/icons/soundcloud.svg" alt="SoundCloud" /></a>
          <a href="https://www.youtube.com/@synthion" target="_blank"><img src="/images/parts/icons/youtube.svg" alt="YouTube" /></a>
        </td>
        <td>
          <a href="https://soundcloud.com/synthion/vividvelocity" target="_blank" class="link">VIVIDVELOCITY</a>
          <a href="https://soundcloud.com/synthion/waltz-capriccio" target="_blank" class="link">Waltz Capriccio</a>
        </td>
      </tr>
      <tr>
        <td>
          Kunaru
          <a href="https://soundcloud.com/10x10x10music" target="_blank"><img src="/images/parts/icons/soundcloud.svg" alt="SoundCloud" /></a>
          <a href="https://www.youtube.com/@kunaru" target="_blank"><img src="/images/parts/icons/youtube.svg" alt="YouTube" /></a>
        </td>
        <td>
          <a href="https://soundcloud.com/10x10x10music/love-squad" target="_blank" class="link">Love Squad</a>
          <a href="https://soundcloud.com/10x10x10music/timeless" target="_blank" class="link">Timeless</a>
        </td>
      </tr>
    </table>
    <span class="title">Source Code</span>
    <div>
      <a href="https://github.com/HyeokjinKang/URLATE-v3l-frontend" target="_blank" class="link">Front-end</a>
      <a href="https://github.com/HyeokjinKang/URLATE-v3l-backend" target="_blank" class="link">Back-end</a>
    </div>
    <span class="content">URLATE source codes are licensed under a <strong>Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</strong>.</span>
    <span class="copyright">© Team Croissant, 2023</span>
    <span class="copyright">© Coupy, 2023</span>
    <span class="title">UI/UX</span>
    <span class="copyright">© Altari, 2023</span>
    <span class="copyright">© Coupy, 2023</span>
    <span class="title">Resources</span>
    <span class="content">URLATE resources are licensed under a <strong>Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International License</strong>.</span>
    <span class="copyright">© Team Croissant, 2023</span>
    <span class="title">Icons</span>
    <span class="content">
      Icons used in the game are provided by <strong><a href="https://icons8.com/" target="_blank" class="link">ICONS8</a></strong>
    </span>
    <span class="title">GRAC Game Rating</span>
    <a
      href="https://www.grac.or.kr/Statistics/Popup/Pop_StatisticsDetails.aspx?bfe594b3906a6fc21ebfb5982f7132cda6c813a6a053e8e5ec12581d53453bb0"
      onclick="window.open(this.href,'저작권 정보','width=800, height=800'); return false;"
      ><img src="/images/logos/all.png" class="badgeIcon"
    /></a>
  </body>
</html>
