<!DOCTYPE html>
<html>
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-177236027-1"></script>
  <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-177236027-1');
  </script>
  <meta charset="UTF-8">
  <title>URLATE Info</title>
  <link rel="stylesheet" href="/css/info.css">
  <link rel="shortcut icon" href="/images/favicon.ico">
<body>
    <h1>URLATE 정보 문서</h1>
    <h3>URLATE Information</h3>
    <p><strong>아이콘<small> Icons</small></strong></p>
    <p class="descriptions">Icons<br><i>'info, settings, macos-close, expand-arrow, collapse-arrow, plus-math, minus-math, musical, paint-palette, shopping-bag-full, bank-card-back-side, ticket, controller, book, back, edit, circled-right-2, horizontal-settings-mixer, resize-four-directions, edit, add, play, save, delete, question-mark, arrow, zoom-in, zoom-out, play, pause'</i><br>provided by <a href="https://icons8.com">icons8</a></p>
    <p><strong>음원<small> Tracks</small></strong></p>
    <p class="descriptions">저작권 보유자가 명시되어있지 않으면 음원의 저작권은 작곡가에게 있습니다.<br><small>If no copyright holder is specified, the composer owns the copyright on the music.</small></p>
    <table>
        <tr>
          <th>Composer</th>
          <th>Song</th>
          <th>Copyright Holder</th>
        </tr>
        <tr>
          <td rowspan="4">Geoplex</td>
          <td>URLATE Theme</td>
          <td>Team Croissant</td>
        </tr>
        <tr>
          <td>Chimera</td>
          <td rowspan="3">-</td>
        </tr>
        <tr>
          <td>Subvert</td>
        </tr>
        <tr>
          <td>Florescence</td>
        </tr>
        <tr>
          <td rowspan="2">VSNS</td>
          <td>Warrior</td>
          <td rowspan="2">-</td>
        </tr>
        <tr>
          <td>Phantom</td>
        </tr>
        <tr>
          <td>Elsiff</td>
          <td>Chatty Bones 2018</td>
          <td>-</td>
        </tr>
        <tr>
          <td>SVRGE</td>
          <td>GAMES</td>
          <td>Argofox Release</td>
        </tr>
        <tr>
          <td rowspan="2">Minerva</td>
          <td>Colors</td>
          <td rowspan="2">Argofox Release</td>
        </tr>
        <tr>
          <td>CLOUD_NINE</td>
        </tr>
        <tr>
          <td>Hexalyte</td>
          <td>Horizon</td>
          <td>Argofox Release</td>
        </tr>
        <tr>
          <td rowspan="2">Canonblade</td>
          <td>Escape</td>
          <td rowspan="2">-</td>
        </tr>
        <tr>
          <td>Overcharge</td>
        </tr>
        <tr>
          <td rowspan="2">Sterrezo</td>
          <td>Zenith</td>
          <td rowspan="2">-</td>
        </tr>
        <tr>
          <td>Fantasy</td>
        </tr>
        <tr>
          <td>Greenstar</td>
          <td>Bittersweet Adventure</td>
          <td>-</td>
        </tr>
        <tr>
          <td>과나(Gwana)</td>
          <td>그거아세요(Did you know that)</td>
          <td>KOMCA</td>
        </tr>
        <tr>
          <td>Tido Kang</td>
          <td>필연(Inevitability)</td>
          <td>-</td>
        </tr>
        <tr>
          <td>Neple & Author Wind</td>
          <td>Bubble</td>
          <td>-</td>
        </tr>
        <tr>
          <td>Plum</td>
          <td>Mad Piano Party</td>
          <td>-</td>
        </tr>
    </table>
    <p class="descriptions">
      <span>Music provided by Argofox:</span>
      <br><br>
      <span>SVRGE - GAMES</span><br>
      <a href="https://youtu.be/NlKtwxmPbCQ">https://youtu.be/NlKtwxmPbCQ</a>
      <br><br>
      <span>Minerva - Colors<br>
      <a href="https://youtu.be/9z1NUsKBFFA">https://youtu.be/9z1NUsKBFFA</a></span>
      <br><br>
      <span>Minerva - CLOUD_NINE<br>
      <a href="https://youtu.be/6tUDPgV86no">https://youtu.be/6tUDPgV86no</a></span>
    </p>
    <p><strong>UI/UX 디자인 & 이미지<small> UI/UX Design & Images</small></strong></p>
    <p class="descriptions">&copy;Copyright AlTaDex, 2021.</p>
    <p><strong>URLATE 게임파일 & 이미지<small> Game files & Images</small></strong></p>
    <p class="descriptions">&copy;Copyright Team Croissant, 2021.<br>&copy;Copyright Coupy, 2021.</p>
    <p><strong>게임물 등급 및 저작권 계약 정보<small> Game Rating and Copyright Agreement Information</small></strong></p>
    <a href="https://www.grac.or.kr/Statistics/Popup/Pop_StatisticsDetails.aspx?bfe594b3906a6fc21ebfb5982f7132cda6c813a6a053e8e5ec12581d53453bb0" class="link" onclick="window.open(this.href,'저작권 정보','width=800, height=800'); return false;"><img src="/images/logos/all.png" class="badgeIcon"></a>
    <a href="https://kdce.or.kr/user/ctf/clmsCtfTransList.do?websiteName=rhyga.me" onclick="window.open(this.href,'저작권 정보','width=800, height=800'); return false;"><img class="badgeIcon" src="/images/logos/02.gif"></a>
</body>
</html>
