<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>URLATE Info</title>
  <link rel="stylesheet" href="/css/info.css">
  <link rel="shortcut icon" href="/images/favicon.ico">
<body>
    <h1>URLATE-v3l 저작권 정보 문서</h1>
    <h3>URLATE-v3l Copyright Information</h3>
    <p><strong>아이콘<small> Icons</small></strong></p>
    <p class="descriptions">Icons<br><i>'info, settings, macos-close, expand-arrow, collapse-arrow, plus-math, minus-math, musical, paint-palette, shopping-bag-full, bank-card-back-side, ticket, controller, book, back, edit, circled-right-2, horizontal-settings-mixer, resize-four-directions, edit, add, play, save, delete, question-mark, arrow, zoom-in, zoom-out, play, pause'</i><br>provided by <a href="https://icons8.com">icons8</a></p>
    <p><strong>소스코드<small> Source code</small></strong></p>
    <p class="descriptions"><a class="link" href="https://github.com/HyeokjinKang/URLATE-v3l-frontend">Frontend</a>, <a class="link" href="https://github.com/HyeokjinKang/URLATE-v3l-backend">Backend</a><br>URLATE source codes are licensed under a Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License.</p>
    <p><strong>음원<small> Tracks</small></strong></p>
    <p class="descriptions">저작권 보유자가 명시되어있지 않으면 음원의 저작권은 작곡가에게 있습니다.<br><small>If no copyright holder is specified, the composer owns the copyright on the music.</small></p>
    <table>
        <tr>
          <th>Composer</th>
          <th>Song</th>
          <th>Copyright Holder</th>
        </tr>
        <tr>
          <td>Geoplex</td>
          <td>URLATE Theme</td>
          <td>Team Croissant</td>
        </tr>
    </table>
    <p><strong>UI/UX 디자인 & 이미지<small> UI/UX Design & Images</small></strong></p>
    <p class="descriptions">&copy;Copyright AlTaDex, 2021-2023.</p>
    <p><strong>게임 리소스<small> Game resources</small></strong></p>
    <p class="descriptions">&copy;Copyright Team Croissant, 2021-2023.<br>&copy;Copyright Coupy, 2023.<br>URLATE resources are licensed under a Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International License.</p>
    <p><strong>게임물 등급<small> Game Rating</small></strong></p>
    <a href="https://www.grac.or.kr/Statistics/Popup/Pop_StatisticsDetails.aspx?bfe594b3906a6fc21ebfb5982f7132cda6c813a6a053e8e5ec12581d53453bb0" class="link" onclick="window.open(this.href,'저작권 정보','width=800, height=800'); return false;"><img src="/images/logos/all.png" class="badgeIcon"></a>
</body>
</html>
