@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-jp.min.css");
@import url("metropolis.css");

@-moz-document url-prefix() {
  #selectRankInnerContainer {
    background-color: #222 !important;
    border: 2px solid white !important;
  }
}

body {
  line-height: 1.2;
  background-size: cover;
  background-position: center;
  background-image: url("/images/backgrounds/main.webp");
  user-select: none;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family:
    "Montserrat",
    "Pretendard JP Variable",
    "Pretendard JP",
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    "Helvetica Neue",
    "Segoe UI",
    "Hiragino Sans",
    "Apple SD Gothic Neo",
    Meiryo,
    "Noto Sans JP",
    "Noto Sans KR",
    "Malgun Gothic",
    Osaka,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    sans-serif;
  font-feature-settings: "ss05";
  letter-spacing: -0.3px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.metropolis {
  font-family:
    "Metropolis",
    "Pretendard JP Variable",
    "Pretendard JP",
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    "Helvetica Neue",
    "Segoe UI",
    "Hiragino Sans",
    "Apple SD Gothic Neo",
    Meiryo,
    "Noto Sans JP",
    "Noto Sans KR",
    "Malgun Gothic",
    Osaka,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    sans-serif;
  font-feature-settings: "ss05";
}

.light {
  font-weight: 300;
}

.medium {
  font-weight: 400;
}

.link {
  text-decoration: none;
  color: #2196f3;
}

.blackLink {
  text-decoration: none;
  color: #333;
}

.icon {
  height: 3vh;
}

.infoIcon {
  height: 4vh;
  margin-right: 0.5vw;
}

.mainIcon {
  filter: drop-shadow(0 0 10px rgba(50, 50, 50, 0.2));
  height: 18vh;
}

.fadeIcon {
  position: absolute;
  height: 18vh;
  opacity: 0;
  transition-duration: 0.2s;
}

.fadeIcon:hover {
  opacity: 1;
}

.fadeIconContainer {
  display: flex;
}

.menuTitle {
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
  font-size: 3vh;
  font-weight: 700;
}

.menuSubtitle {
  font-size: 2vh;
  margin-top: -5px;
}

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #1788de;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 2000;
  bottom: 0;
  right: 100%;
  width: 100%;
  height: 1vh;
}

.pace .pace-activity {
  display: block;
  position: fixed;
  z-index: 2000;
  bottom: 2vh;
  right: 15px;
  width: 14px;
  height: 14px;
  border: solid 2px transparent;
  border-top-color: #1788de;
  border-left-color: #1788de;
  border-radius: 10px;
  -webkit-animation: pace-spinner 400ms linear infinite;
  -moz-animation: pace-spinner 400ms linear infinite;
  -ms-animation: pace-spinner 400ms linear infinite;
  -o-animation: pace-spinner 400ms linear infinite;
  animation: pace-spinner 400ms linear infinite;
}

@-webkit-keyframes pace-spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes pace-spinner {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes pace-spinner {
  0% {
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-ms-keyframes pace-spinner {
  0% {
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes pace-spinner {
  0% {
    transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

p {
  margin: 0;
}

::-webkit-scrollbar {
  width: 3px;
}

#selectSongContainer::-webkit-scrollbar-track {
  background: #8f8f8f;
}

#selectSongContainer::-webkit-scrollbar-thumb {
  background: #dddddd;
}

#selectSongContainer::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}

::-webkit-scrollbar-track {
  background: #dddddd;
}

::-webkit-scrollbar-thumb {
  background: #8f8f8f;
}

::-webkit-scrollbar-thumb:hover {
  background: #666666;
}

#loadingContainer {
  background-color: white;
  position: absolute;
  z-index: 1;
  opacity: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-image: url("/images/backgrounds/loading.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#logo {
  width: 25vw;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

#footer {
  z-index: 100;
  position: fixed;
  height: 10vh;
  width: 100vw;
  bottom: 0;
  display: flex;
  text-align: center;
  align-items: center;
}

#footerLeft {
  opacity: 0;
  padding-left: 5vw;
  height: 100%;
  width: 33vw;
  display: flex;
  text-align: left;
  align-items: center;
  justify-content: flex-start;
  font-size: 2vh;
  transition-duration: 1s;
}

#footerCenter {
  height: 100%;
  width: 34vw;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition-duration: 1s;
}

#footerRight {
  font-size: 1.6vh;
  padding-right: 5vw;
  height: 100%;
  width: 33vw;
  display: flex;
  text-align: right;
  align-items: center;
  justify-content: flex-end;
}

#urlateText {
  transition-duration: 1s;
  margin-bottom: 2vh;
}

#songName {
  margin-bottom: 0.5vh;
  opacity: 0;
  transition-duration: 1s;
}

#noteIcon {
  height: 0.8em;
}

#header {
  position: fixed;
  z-index: 5;
  opacity: 0;
  height: 15vh;
  width: 100vw;
  top: 0;
  display: flex;
  text-align: center;
  align-items: center;
  transition-duration: 1s;
}

#headerLeft {
  margin-left: 5vw;
  height: 100%;
  width: 50vw;
  display: flex;
  text-align: left;
  align-items: center;
  justify-content: flex-start;
}

#headerRight {
  padding-right: 5vw;
  height: 100%;
  width: 50vw;
  display: flex;
  text-align: right;
  align-items: center;
  justify-content: flex-end;
}

#name {
  font-weight: 600;
  cursor: pointer;
  color: #000;
  font-size: 2.5vh;
  opacity: 0;
  transition-delay: 0.5s;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
}

#name:hover {
  transition-delay: 0s;
  padding-left: 1vw;
  opacity: 1;
}

#profilePic:hover ~ #name {
  transition-delay: 0s;
  padding-left: 1vw;
  opacity: 1;
}

#profilePic {
  cursor: pointer;
  height: 5vh;
  width: 5vh;
  border-radius: 5vh;
  border: 2px solid black;
  box-shadow: 0 0 1vw rgba(20, 20, 20, 0.1);
}

#line {
  border-left: 2px solid #bbb;
  height: 1em;
  margin: 5px;
}

#selectContainer {
  background: #000 !important;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  opacity: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

#menuContainer {
  position: fixed;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  display: none;
  opacity: 0;
  transform: scale(0.9);
  text-align: center;
  align-items: center;
  justify-content: center;
  transition-duration: 1s;
}

#menuContainer.loaded {
  opacity: 1;
  transform: scale(1);
}

.menuSelector {
  width: 13vw;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-left: 1vw;
  margin-right: 1vw;
}

.clickable {
  cursor: pointer;
  transition-duration: 0.3s;
}

.clickable.opacity:hover {
  opacity: 0.7;
}

.closeBtn {
  z-index: 200;
  position: fixed;
  top: 6vh;
  right: 5vw;
}

.rankCloseBtn {
  z-index: 200;
}

.containers {
  z-index: 100;
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  left: 0;
  top: 0;
  display: none;
  opacity: 0;
  width: 100vw;
  height: 100vh;
  background: white;
}

#infoContainer {
  color: #333;
  background-color: #fff;
  background-image: url("/images/backgrounds/option_decorations.webp");
  background-position: center bottom;
  background-size: cover;
  background-attachment: fixed;
}

#infoLogo {
  height: 15vh;
  margin: 2vh;
}

#licenseMain {
  font-size: 3vh;
  font-weight: 700;
}

#license {
  line-height: 150%;
  font-size: 2.5vh;
  font-weight: 400;
  margin-top: 16vh;
  margin-bottom: 4.5vh;
}

#infoLineContainer {
  margin-top: 4.5vh;
  margin-bottom: 4.5vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#infoLine {
  border-top: 2px solid rgb(39, 39, 39);
  width: 4vw;
  margin: 10px;
}

#infoTitle {
  font-size: 3vh;
  font-weight: 700;
}

#infoSubtitle {
  color: #aaa;
  font-size: 2vh;
  font-weight: 500;
}

.profileContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2vh;
  margin-bottom: 3vh;
  margin-left: 20vw;
  width: 60vw;
  height: 10vw;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2vh;
  font-weight: 600;
  background-position: center;
  background-size: cover;
  float: left;
  width: 8vw;
  height: 8vw;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 2vh rgba(70, 70, 70, 0.1);
  margin-left: 1vw;
  margin-right: 1vw;
}

.profileHover {
  cursor: pointer;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  font-size: 2vh;
  font-weight: 600;
  transition-duration: 0.1s;
}

#tumblbug {
  box-sizing: border-box;
  padding: 4.5vh 15vw;
  width: 100%;
  filter: drop-shadow(0 0 2vh rgba(70, 70, 70, 0.1));
}

.profileHover:hover {
  opacity: 1;
}

#profileCoupy {
  background-image: url("/images/credits/coupy.webp");
}

#profileAlta {
  background-image: url("/images/credits/altari.webp");
}

#profileShd {
  background-image: url("/images/credits/sihyeon.webp");
}

#profileGreenstar {
  background-image: url("/images/credits/greenstar.webp");
}

#profileRanol {
  background-image: url("/images/credits/ranol.webp");
}

#profileKiwi {
  background-image: url("/images/credits/kiwiyou.webp");
}

#profileHanu {
  background-image: url("/images/credits/hanukoon.webp");
}

#profileGeoplex {
  background-image: url("/images/credits/geoplex.webp");
}

#profileAlkmerlin {
  background-image: url("/images/credits/alkmerlin.webp");
}

#infoProfileContainer {
  overflow-y: hidden;
  z-index: 101;
}

#infoProfileLeft {
  padding-top: 6vh;
  float: left;
  width: 18vw;
  height: 100vh;
}

#infoProfileRight {
  padding-top: 6vh;
  float: left;
  width: 82vw;
  height: 100vh;
}

#infoProfileImg {
  border-radius: 10vw;
  width: 10vw;
  height: 10vw;
  box-shadow: 0 0 10px #33333333;
}

#infoProfileTop {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 10vw;
}

#infoProfileName {
  font-size: 6vh;
  font-weight: 700;
}

#infoProfilePosition {
  margin-top: 0.5em;
  color: #666;
  font-size: 3vh;
  font-weight: 300;
}

#infoProfileBottom {
  font-weight: 500;
  padding-top: 2vh;
  text-align: left;
  font-size: 3vh;
}

#quote {
  font-size: 3.5vh;
  font-weight: 700;
}

.infoProfilePart {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 2vh;
}

#visualizer {
  transform: scaleY(1.1) translateY(5vh);
  mix-blend-mode: hard-light;
  filter: invert(70%);
  opacity: 0.3;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vw;
  overflow-x: hidden;
  overflow-y: hidden;
  transition-duration: 0.3s;
}

.fadeInAnim {
  animation: fadeInAnim 0.3s ease-in-out forwards;
}

@keyframes fadeInAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeOutAnim {
  animation: fadeOutAnim 0.3s ease-in-out forwards;
}

@keyframes fadeOutAnim {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#storeContainer {
  display: none;
  align-items: flex-start;
  justify-content: center;
  background-color: #fff;
  background-image: url("/images/backgrounds/advanced_decorations.webp");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

#optionContainer {
  background-color: #fff;
  background-image: url("/images/backgrounds/option_decorations.webp");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.containersTitle {
  top: 0;
  left: 0;
  width: 100vw;
  position: fixed;
  font-size: 5vh;
  margin-top: 4vh;
  padding: 0;
  font-weight: 700;
}

#optionElementsContainer {
  position: fixed;
  height: 72vh;
  width: 100vw;
  top: 16vh;
}

#optionSelectorContainer {
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  height: 72vh;
  width: 12vw;
  float: left;
  border-right: solid #bbb 3px;
  padding-right: 3vw;
}

.optionSelectors {
  cursor: pointer;
  margin: 2vh;
  color: #9b9b9b;
  font-weight: 500;
  font-size: 4vh;
}

.optionSelected {
  cursor: default;
  color: #404040;
  font-weight: 800;
}

.optionContentsContainer {
  display: none;
  text-align: left;
  padding-left: 3vw;
  height: 72vh;
  width: 80vw;
  float: left;
  overflow-y: auto;
  scrollbar-color: #5a5a5a #cecece;
  scrollbar-width: thin;
}

.optionTitle {
  margin-top: 4vh;
  font-weight: 750;
  color: #404040;
  font-size: 3.3vh;
}

.optionSemiTitle {
  font-weight: 600;
  color: #404040;
  font-size: 2.5vh;
  margin-right: 1vw;
}

.optionValueContainer {
  margin-top: 2vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.optionValue {
  margin-top: 0.5vh;
  font-family:
    "Montserrat",
    "Pretendard JP Variable",
    "Pretendard JP",
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    "Helvetica Neue",
    "Segoe UI",
    "Hiragino Sans",
    "Apple SD Gothic Neo",
    Meiryo,
    "Noto Sans JP",
    "Noto Sans KR",
    "Malgun Gothic",
    Osaka,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    sans-serif;
  font-feature-settings: "ss05";
  font-weight: 400;
  color: #404040;
  font-size: 2vh;
}

.optionSelect {
  cursor: pointer;
  font-weight: 500;
  padding-left: 1vw;
  width: 10vw;
  height: 5vh;
  font-size: 2vh;
  font-family:
    "Montserrat",
    "Pretendard JP Variable",
    "Pretendard JP",
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    "Helvetica Neue",
    "Segoe UI",
    "Hiragino Sans",
    "Apple SD Gothic Neo",
    Meiryo,
    "Noto Sans JP",
    "Noto Sans KR",
    "Malgun Gothic",
    Osaka,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    sans-serif;
  font-feature-settings: "ss05";
  letter-spacing: -0.5px;
  color: #fff;
  background-color: #666;
  border-radius: 10px;
}

.optionShow {
  display: initial;
}

.optionSlider {
  margin-right: 0.5vw;
  -webkit-appearance: none;
  appearance: none;
  width: 10vw;
  height: 3px;
  background: #616161;
  outline: none;
}

.optionSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 1000px;
  background: #363636;
  cursor: pointer;
}

.optionSlider::-moz-range-thumb {
  width: 10px;
  height: 10px;
  border-radius: 1000px;
  background: #363636;
  cursor: pointer;
}

.optionButton {
  cursor: pointer;
  font-weight: 500;
  text-align: center;
  padding: 1.2vh 3vw 1.2vh 3vw;
  font-size: 2vh;
  font-family:
    "Montserrat",
    "Pretendard JP Variable",
    "Pretendard JP",
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    "Helvetica Neue",
    "Segoe UI",
    "Hiragino Sans",
    "Apple SD Gothic Neo",
    Meiryo,
    "Noto Sans JP",
    "Noto Sans KR",
    "Malgun Gothic",
    Osaka,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    sans-serif;
  font-feature-settings: "ss05";
  letter-spacing: -0.5px;
  color: #fff;
  text-decoration: none;
  background-color: #666;
  border-radius: 10px;
}

.optionCheckbox {
  margin-right: 2vw;
  border: solid #666 5px;
  width: 1vw;
  height: 1vw;
}

#selectContainer {
  color: white;
}

#selectBackground {
  z-index: -1;
  pointer-events: none;
  background-size: cover;
  background-position: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  filter: blur(30px) saturate(110%);
  opacity: 0.5;
  scale: 1.3;
  transition-duration: 0.1s;
  transition-timing-function: cubic-bezier(0.22, 1, 0.36, 1);
}

#selectBackground.fadeOut {
  transition-duration: 2s;
  opacity: 1;
  scale: 1.05;
  filter: blur(10px) brightness(30%);
}

#selectContainerTopLeft {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  position: fixed;
  top: 4.5vh;
  left: 5vw;
}

#tracksLine {
  margin-bottom: 4px;
  margin-left: 10px;
  width: 2px;
  height: 2vh;
  background-color: white;
}

.tracksSelection {
  display: none;
  cursor: default;
  margin-bottom: 3px;
  margin-left: 10px;
  color: white;
  font-size: 2vh;
}

.tracksSelection.selected {
  display: inline-block;
  cursor: default;
  margin-bottom: 3px;
  margin-left: 10px;
  color: white;
  font-size: 2vh;
}

.bottomArrow {
  vertical-align: middle;
  font-size: 1vh;
}

#tracks {
  height: 5vh;
}

#selectContainerLeft {
  padding-left: 6vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10vh;
  padding-top: 2vh;
  height: 80vh;
  width: 48vw;
  float: left;
}

#selectContainerTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 20%;
  width: 100%;
}

#selectContainerTitleLeft {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: white;
  width: 60%;
}

#selectTitle {
  text-align: left;
  font-size: 5vh;
  font-weight: 200;
}

#selectArtist {
  text-align: left;
  font-size: 3vh;
  font-weight: 500;
}

#selectContainerTitleRight {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: 40%;
}

#selectScore {
  font-size: 3vh;
  font-weight: 600;
}

#selectScoreValue {
  font-size: 5vh;
  font-weight: 700;
}

#selectContainerAlbum {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 53%;
  width: 100%;
}

#selectContainerAlbumLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 60%;
}

#selectAlbumContainer {
  border: 2px solid white;
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 100%;
}

#starContainer {
  background-color: #00000050;
  backdrop-filter: blur(5px) contrast(1.5);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: calc(-5vh - 2px);
  width: 100%;
  height: 5vh;
  z-index: 5;
  position: relative;
}

#selectAlbum {
  transition-duration: 0.1s;
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 42vh;
}

#selectContainerAlbumRight {
  padding-top: 3vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 40%;
}

#trackStats {
  padding: 2px 0px;
  color: black;
  background-color: white;
  line-height: 3.2vh;
  width: 90%;
  height: 3vh;
  font-weight: 700;
  font-size: 2vh;
}

#modsTitleContainer {
  margin-top: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 3vh;
  font-weight: 700;
  font-size: 2vh;
}

.modsTitleLine {
  height: 2px;
  width: 33%;
  background-color: white;
}

#modsTitle {
  width: 34%;
}

.trackModsValue {
  background-color: rgba(255, 255, 255, 0.1);
  transition-duration: 0.3s;
  font-size: 2vh;
  text-align: center;
  width: 20%;
  cursor: pointer;
  color: white;
  font-weight: 700;
  border: 2px solid white;
  border-radius: 100px;
  padding: 1% 5%;
}

.trackModsValue.enabled {
  background-color: white;
  color: black;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.trackStatContainer {
  margin-top: 1.5vh;
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 2vh;
  font-weight: 500;
}

.trackStatLineContainer {
  margin-top: 0.5vh;
  width: 70%;
  height: 5px;
  background-color: #00000050;
}

.trackStatLine {
  height: 100%;
  background-color: #fff;
  transition-duration: 0.3s;
  width: 100%;
}

#selectContainerInfo {
  padding-top: 7%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 15%;
  width: 100%;
}

#selectInnerContainer {
  transition-duration: 2s;
  transition-timing-function: cubic-bezier(0.22, 1, 0.36, 1);
}

#selectInnerContainer.fadeOut {
  pointer-events: none;
  opacity: 0;
  transform: scale(1.1);
}

.selectInfo {
  text-align: left;
  height: 100%;
  margin-right: 3vw;
}

.selectInfoTitleContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.selectInfoTitle {
  font-size: 3vh;
  font-weight: 600;
}

.key {
  margin-left: 0.5vw;
  font-size: 1.5vh;
  font-weight: 400;
  padding: 0.3vh 0.7vw;
  border: 2px solid white;
  border-radius: 10px;
}

.selectInfoContentsContainer {
  display: flex;
  flex-direction: row;
  margin-top: 1vh;
}

.difficulty {
  display: flex;
  flex-direction: column;
  width: 3.5vw;
  font-size: 3.5vh;
  cursor: pointer;
  opacity: 0.3;
  font-weight: 300;
  transition-duration: 0.3s;
}

.difficulty:not(.difficultySelected):hover {
  opacity: 0.5;
}

.difficulty.right {
  width: 5.5vw;
}

.difficultyText {
  font-size: 2vh;
  font-weight: 800;
}

.difficultySelected {
  opacity: 1;
  font-weight: 800;
}

#selectStars {
  font-weight: 100;
  font-size: 2.5vh;
}

#selectRank {
  font-size: 6vh;
  font-weight: 300;
}

.medals {
  width: 1.6vw;
  opacity: 0.5;
  margin-right: 0.8vw;
}

#selectContainerRight {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding-right: 6vw;
  padding-top: 5vh;
  margin-top: 10vh;
  height: 80vh;
  width: 40vw;
  float: left;
}

#selectContainerRightTitles {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  text-align: right;
  margin-bottom: 2%;
  margin-right: 10px;
}

#selectSongContainer {
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
  height: 85%;
}

.songSelectionContainer {
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 65%, rgba(255, 255, 255, 0.1));
  background-size: 200% 100%;
  background-position-x: 0%;
  height: 6vh;
  --artist-display: initial;
  --title-weight: 300;
  padding-top: 2vh;
  padding-bottom: 2vh;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  transition-duration: 0.2s;
}

.songSelectionContainer:hover {
  background-position-x: 100%;
  height: 7vh;
}

.songSelectionInfo {
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  margin-right: 1.5vw;
  opacity: 1;
}

.songSelectionInfo.locked {
  opacity: 0.5;
}

.songSelectionTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  font-size: 3.5vh;
  font-weight: var(--title-weight);
}

.songSelectionIcon {
  margin-left: 7px;
  margin-bottom: 2px;
  height: 2.5vh;
}

.songSelectionArtist {
  display: var(--artist-display);
  font-size: 2.5vh;
  font-weight: 600;
}

.songSelectionRank {
  margin-right: 1.5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2vw;
}

.rankSS:before {
  font-size: 5vh;
  font-weight: 800;
  color: #faeb1f;
  content: "SS";
}

.rankS:before {
  font-size: 5vh;
  font-weight: 800;
  color: #faeb1f;
  content: "S";
}

.rankA:before {
  font-size: 5vh;
  font-weight: 800;
  color: #42e24f;
  content: "A";
}

.rankB:before {
  font-size: 5vh;
  font-weight: 800;
  color: #22c7f0;
  content: "B";
}

.rankC:before {
  font-size: 5vh;
  font-weight: 800;
  color: #f14b66;
  content: "C";
}

.rankF:before {
  font-size: 5vh;
  font-weight: 800;
  color: #c0c0c0;
  content: "F";
}

.rankQ:before {
  font-size: 5vh;
  font-weight: 800;
  color: #fff;
  opacity: 0.2;
  content: "?";
}

.rankL:before {
  font-size: 4vh;
  font-weight: 800;
  color: #fff;
  opacity: 0.2;
  content: "🔒";
}

.songSelected {
  --artist-display: none;
  --title-weight: 800;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0.5));
}

#selectRankContainer {
  pointer-events: none;
  opacity: 0;
  position: fixed;
  padding-left: 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 12vh;
  height: 64vh;
  width: 44vw;
  float: left;
  margin-left: 6vw;
  z-index: 10;
}

#selectRankInnerContainer {
  background-color: rgba(50, 50, 50, 0.5);
  backdrop-filter: blur(20px);
  border-radius: 5px;
  text-align: left;
  padding-left: 2vw;
  padding-right: 2vw;
  width: 100%;
  height: 100%;
}

#selectRankTitleContainer {
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: row;
}

#selectRankTitleLeftContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 50%;
  height: 100%;
  float: left;
  text-align: left;
}

#selectRankTitleRightContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
  height: 100%;
  float: left;
  text-align: right;
}

#selectRankTitle {
  font-size: 3vh;
  color: white;
  letter-spacing: 0.3em;
}

.rankGuide {
  font-size: 2.5vh !important;
  font-weight: 700 !important;
  opacity: 0.7 !important;
}

.selectRank {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 4vh;
}

.selectRankNumber {
  width: 3vw;
  float: left;
  font-size: 2.7vh;
  font-weight: 700;
}

.selectRankName {
  width: 17vw;
  float: left;
  font-size: 2.7vh;
  font-weight: 600;
}

.selectRankScore {
  width: 12vw;
  float: left;
  font-size: 2.7vh;
  font-weight: 500;
}

#selectRankScoreContainer {
  width: 100%;
  height: 75%;
  overflow-y: auto;
}

#offsetTitle {
  font-size: 5vh;
  margin-top: 4vh;
  margin-bottom: 5vh;
  padding: 0;
  font-weight: 600;
}

#offsetContiner {
  display: none;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  z-index: 101;
  background-color: #fff;
  background-image: url("/images/backgrounds/option_decorations.webp");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.offsetPreviewContainer {
  margin-top: 3vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.offsetViewContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
}

.offsetText {
  margin-bottom: 1vh;
  font-size: 3.5vh;
  font-weight: 600;
}

.offsetCircle {
  width: 20vh;
  height: 20vh;
  border-radius: 100vh;
  border: 1px solid black;
}

.timingText {
  margin-top: 1vh;
  font-family:
    "Montserrat",
    "Pretendard JP Variable",
    "Pretendard JP",
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    "Helvetica Neue",
    "Segoe UI",
    "Hiragino Sans",
    "Apple SD Gothic Neo",
    Meiryo,
    "Noto Sans JP",
    "Noto Sans KR",
    "Malgun Gothic",
    Osaka,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    sans-serif;
  font-feature-settings: "ss05";
  font-size: 2vh;
  font-weight: 400;
}

.timingCircle {
  width: 5vh;
  height: 5vh;
  border-radius: 100vh;
  border: 1px solid black;
}

#offsetDescription {
  letter-spacing: -2px;
  margin-top: 5vh;
  font-size: 3.5vh;
  font-weight: 400;
}

#offsetSubDescription {
  letter-spacing: -2px;
  font-size: 2vh;
  font-weight: 400;
}

#offsetButtonContainer {
  margin-top: 3vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 13vh;
}

#offsetTapButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #373737;
  width: 50%;
  height: 100%;
  border-radius: 1em;
  cursor: pointer;
  box-shadow: 0 0 1vh rgba(50, 50, 50, 0.3);
}

#offsetButtonText {
  font-size: 5vh;
  color: #fff;
  font-weight: 700;
}

.offsetSideContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 1vw;
  margin-right: 1vw;
}

.offsetSideIcon {
  margin-top: 1vh;
  margin-bottom: 1vh;
}

#offsetSpeedText {
  padding-right: 0.2vw;
  font-size: 2vh;
}

#offsetResetButton {
  margin-top: 3vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e56464;
  width: 10vw;
  height: 4vh;
  border-radius: 0.5em;
  cursor: pointer;
  box-shadow: 0 0 1vh rgba(50, 50, 50, 0.3);
}

#offsetResetButtonText {
  font-size: 2vh;
  color: #fff;
  font-weight: 500;
}

.overlay {
  transition-duration: 0.5s;
  transform: translateY(10vh);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 300;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 8vh;
  background-color: white;
  box-shadow: 0 0 20px rgba(50, 50, 50, 0.3);
}

.overlayOpen {
  transform: translateY(0vh);
}

#nothingHere {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  font-size: 3vh;
  color: #555;
}

.overlayContainer {
  pointer-events: none;
  background-color: rgba(50, 50, 50, 0.8);
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition-duration: 1s;
  opacity: 0;
  z-index: 300;
}

.overlayContainerText {
  color: white;
  font-size: 2vh;
  font-weight: 500;
}

.loadingCircle {
  width: 2vw;
}

.loadingCircle.anim {
  opacity: 1 !important;
  -webkit-animation: pace-spinner 400ms linear infinite;
  -moz-animation: pace-spinner 400ms linear infinite;
  -ms-animation: pace-spinner 400ms linear infinite;
  -o-animation: pace-spinner 400ms linear infinite;
  animation: pace-spinner 400ms linear infinite;
}

#loadingCircle {
  z-index: 200;
  pointer-events: none;
  opacity: 0;
  mix-blend-mode: difference;
  position: fixed;
  right: 2vw;
  bottom: 3vh;
}

.introContainer {
  background: #000;
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  align-items: center;
  justify-content: center;
  transition-duration: 0.5s;
}

#warningContainer {
  display: none;
  flex-direction: column;
  z-index: 502;
}

#pressAnywhere {
  font-size: 2vh;
  color: #aaa;
  transition-duration: 0.3s;
  opacity: 0;
}

#warningInner {
  line-height: 150%;
  font-size: 2.5vh;
  color: #fff;
  padding: 5vh 5vw 5vh 5vw;
  margin-bottom: 5vh;
  border-bottom: 0.1vh solid #000;
  transition-duration: 0.3s;
  opacity: 0;
}

#intro1container {
  z-index: 501;
}

#intro1video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

#intro2container {
  z-index: 500;
}

#intro2video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

#warningTitle {
  font-weight: 700;
  font-size: 4vh;
  margin-bottom: 1vh;
  color: #f1d94d;
}

#tutorialInformation {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#tutorialText {
  font-size: 2vh;
}

.tutorialInner {
  width: 100vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#tutorialInfoMid {
  height: 40vh;
}

#tutorialSkip {
  cursor: pointer;
  text-decoration: underline;
  color: #222;
  margin-top: 2vh;
}

.songSelectionDisable {
  display: none;
}

.sortText {
  font-size: 2vh;
  color: #ccc;
  cursor: pointer;
  font-weight: 500;
  margin-right: 8px;
}

#sortTextRight {
  margin-right: 12px;
}

.sortText.selected {
  color: white;
  cursor: default;
  font-weight: 800;
}

#trackList {
  font-weight: 200;
  margin-left: 12px;
  font-size: 3.5vh;
}

#trackListLine {
  width: 1.5px;
  height: 1.8vh;
  background-color: white;
}

#CPLContainer {
  letter-spacing: -1px;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 300;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(15px) brightness(1.2);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

#CPLInnerContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 85vw;
  height: 80vh;
}

#CPLTopContainer {
  display: flex;
  flex-direction: row;
  height: 10vh;
  width: 100%;
}

#CPLTopLeftContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 50%;
}

#CPLTopLeftVerticalContainer {
  margin-left: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
}

#CPLTopRightContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  width: 50%;
}

#CPLAlbumContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4vw;
}

#CPLAlbum {
  width: 100%;
  box-shadow: 0 0 0 2px white inset;
  border: 2px solid white;
}

#CPLTitle {
  color: black;
  font-size: 4vh;
  font-weight: 800;
}

#CPLTrack {
  margin-top: 2px;
  color: black;
  font-size: 3vh;
  font-weight: 500;
}

#CPLListIndex {
  padding-left: 2vw;
  padding-right: 2vw;
  display: flex;
  flex-direction: row;
  color: #666;
  font-size: 2vh;
  font-weight: 400;
  margin-top: 5vh;
  width: calc(90% - 4vw);
  height: 5vh;
}

.CPLListLeft {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 50%;
}

.CPLListRight {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
}

.CPLListRightDifficulty {
  width: 20%;
}

.CPLListRightStar {
  margin-bottom: 2px;
  width: 10%;
}

.CPLListRightStar.noMargin {
  margin-bottom: 0px;
}

#CPLListContainer {
  overflow-y: scroll;
  width: 90%;
  border-top: 2px solid #555;
  height: 55vh;
}

.CPLList {
  padding-left: 2vw;
  padding-right: 2vw;
  cursor: pointer;
  border-bottom: 2px solid #aaa;
  color: #000;
  font-size: 3vh;
  font-weight: 800;
  display: flex;
  flex-direction: column;
  width: calc(100% - 4vw);
}

.CPLList.selected {
  background-color: rgba(255, 255, 255, 0.5);
  cursor: default;
}

.CPLListTop {
  height: 9vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.CPLListBottom {
  margin-bottom: 3vh;
  height: 3vh;
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.CPLListBottom.selected {
  display: flex;
}

.CPLQuoteIcon {
  height: 3vh;
}

.CPLQuote {
  margin-left: 4px;
  font-style: italic;
  font-size: 2.5vh;
  font-weight: 500;
}

.CPLAuthor {
  margin-left: 4px;
  font-size: 2vh;
  font-weight: 500;
}

.CPLDifficulty {
  margin-left: 4px;
  font-weight: 500;
}

.CPLIcon {
  height: 2vh;
}

.CPLIcon.margin {
  margin-left: 4px;
}

.CPLRankButton {
  cursor: pointer;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 2vw;
  height: 2vw;
  border: 2px solid black;
  border-radius: 1vh;
}

.CPLPlayButton {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffffaa;
  width: 6vw;
  height: 2vw;
  border: 2px solid black;
  border-radius: 1vh;
  margin-left: 0.5vw;
  font-size: 2.5vh;
}

#infoInnerContainer {
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 6vh;
  padding-bottom: 6vh;
  box-sizing: border-box;
}

#infoImg {
  width: 100%;
}

.infoTitle {
  margin-top: 3vh;
  margin-bottom: 1vh;
  font-size: 3vh;
  font-weight: 700;
}

.infoText {
  text-align: left;
  line-height: 2;
  font-size: 2vh;
  font-weight: 500;
}

#profileContainer {
  background-color: black;
}

#profileImageContainer {
  z-index: -1;
  pointer-events: none;
  background-size: cover;
  background-position: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  filter: blur(10px);
  opacity: 0.5;
  transform: scale(1.05);
  transition-duration: 0.5s;
}

#profileImageContainer.blur {
  filter: blur(50px) brightness(0.6);
}

#profileImageContainer.showBackground:not(.blur) {
  filter: blur(0px);
  transform: scale(1);
  opacity: 1;
}

#profileNameContainer.showBackground {
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
}

#profileNameContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  padding-left: 5vw;
  margin-top: 5vh;
  margin-bottom: 5vh;
  transition-duration: 0.5s;
}

#profileName {
  color: white;
  font-weight: 600;
  font-size: 2.5vh;
  margin-left: 1vw;
}

#profileImage {
  border-radius: 6vh;
  height: 5vh;
  width: 5vh;
  object-fit: cover;
  border: 2px solid #fffa;
}

.profileContentsContainer {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-left: 5vw;
  margin-right: 5vw;
}

.profileContentsContainer.showBackground > .profileContents::before {
  transition-delay: 0s;
  background: none;
  mix-blend-mode: normal;
  opacity: 0.3;
}

.profileContents::before {
  z-index: -1;
  top: 0;
  left: 0;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(20px) saturate(1.1) brightness(0.95);
  border: 1px solid transparent;
  background-image: linear-gradient(#222, #111), linear-gradient(60deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.4) 10%, rgba(255, 255, 255, 0.4) 90%, rgba(255, 255, 255, 0.8) 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
  border-radius: 5px;
  box-sizing: border-box;
  mix-blend-mode: plus-lighter;
  transition-delay: 0.3s;
  transition-duration: 0.2s;
}

.profileContentsContainer.showBackground > .profileContents {
  opacity: 0;
}

.profileContentsContainer.showBackground {
  pointer-events: none;
}

.profileContents {
  margin-top: 2vh;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 5px;
  padding: 2vh 3vw;
  box-sizing: border-box;
  color: white;
  width: 90vw;
  transition-duration: 0.3s;
}

.profileContentsTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.profileContentsTitleIcon {
  height: 2vh;
  margin-right: 4px;
}

.profileContentsTitleText {
  font-size: 1.8vh;
}

#profileRank {
  margin-top: 8px;
  font-size: 3vh;
  font-weight: 700;
}

#profileRow {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

#profileChart {
  box-sizing: border-box;
  width: 85%;
  padding-right: 1vw;
}

#profileStat {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 15%;
}

.profileStatElements {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5vh;
  font-weight: 300;
  margin: 3px 0;
}

.profileStatElements:nth-child(1) {
  font-weight: 600;
}

#profileBio {
  color: white;
  margin-left: 0.5vw;
  font-size: 1.7vh;
}

.profileStatValue {
  letter-spacing: 0px;
  text-align: right;
}

#medalContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-top: -2.5vh;
}

.profileMedals {
  height: 2vh;
  margin-right: 0.2vw;
}

.profileMedalText {
  color: white;
  font-weight: 500;
  font-size: 1.5vh;
  margin-right: 0.5vw;
}

#profileRecentPlay {
  margin-top: 1vh;
  width: 100%;
}

#profileBestPlay {
  margin-top: 1vh;
  width: 100%;
}

#profileBanner {
  margin-top: 1vh;
  width: 100%;
}

.playContainer::before {
  z-index: -1;
  top: 0;
  left: 0;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid transparent;
  background-image: linear-gradient(#111, #000), linear-gradient(60deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.2) 80%, rgba(255, 255, 255, 0.6) 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
  border-radius: 5px;
  box-sizing: border-box;
  mix-blend-mode: plus-lighter;
}

.playContainer:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.playContainer {
  letter-spacing: 0px;
  font-size: 1.8vh;
  margin-top: 1vh;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  padding: 1vh 2vw;
  box-sizing: border-box;
  color: white;
  width: 100%;
  transition-duration: 0.3s;
}

.playContainerLeft {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.playContainerRight {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.playDifficulty {
  font-weight: 600;
  width: 9vh;
  text-align: left;
}

.playTitleContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.playAlbum {
  height: 5vh;
  margin-right: 10px;
}

.playTitle {
  font-size: 2vh;
  font-weight: 600;
}

.playProducer {
  margin-top: 2px;
  font-size: 1.5vh;
}

.playDetail {
  margin-left: 1vw;
}

.playRate {
  letter-spacing: -0.5px;
  margin-left: 1vw;
  font-weight: 600;
}

.nothingHere {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.5vh;
}

#profileDescription {
  text-align: right;
  z-index: 200;
  position: fixed;
  top: 6.7vh;
  right: calc(5vw + 3.5vh);
  font-size: 1.6vh;
  line-height: 100%;
  color: #ffffffaa;
  font-weight: 400;
  opacity: 1;
  transition-duration: 0.3s;
}

#profileDescription.showBackground {
  opacity: 0 !important;
}

.iziToast-theme-dark > .iziToast-body > .iziToast-inputs > select {
  color: white !important;
}

.iziToast-theme-dark > .iziToast-body > .iziToast-inputs > input {
  color: white !important;
}

#rankTitle {
  margin-top: 4vh;
  margin-bottom: 5vh;
  font-weight: 750;
  color: #404040;
  font-size: 5vh;
}

#rankTable {
  border-collapse: collapse;
  margin-left: 10vw;
  width: 80vw;
  font-size: 2vh;
}

#rankTable > thead {
  word-break: keep-all;
  height: 6vh;
  border-bottom: 1px solid black;
}

#rankTable > thead th {
  font-weight: 600;
}

#rankTable > tbody td {
  border-bottom: 1px solid #dddddd;
  font-weight: 400;
}

#rankTable > thead th:nth-child(1),
#rankTable > tbody td:nth-child(1) {
  font-weight: 700;
  padding-left: 2vw;
  text-align: left;
}

#rankTable > thead th:nth-child(2) {
  padding-left: 2vw;
  width: 100%;
  text-align: left;
}

#rankTable > tbody td:nth-child(2) {
  padding-left: 2vw;
  width: 100%;
  text-align: left;
}

#rankTable > thead th:not(:nth-child(1)):not(:nth-child(2)),
#rankTable > tbody td:not(:nth-child(1)):not(:nth-child(2)) {
  text-align: right;
  padding-right: 2vw;
  white-space: nowrap;
}

#rankTable > tbody td:last-child {
  font-weight: 700;
}

.rankProfile {
  height: 4vh;
  width: 4vh;
  object-fit: cover;
  border-radius: 4vh;
  margin-right: 0.5em;
  border: 1px solid #00000050;
}

.rankProfileContainer {
  cursor: pointer;
  width: fit-content;
  height: 6vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

#noticeText {
  color: #000;
  text-decoration: none;
  font-size: 1.8vh;
}

#profileBannerContainer {
  text-align: left;
}

.bannerImage {
  float: left;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 0.15vw;
  width: 10vw;
  height: 2.3vw;
  border-radius: 3px;
}

.bannerImage.hidden > .bannerHover {
  opacity: 0.8;
}

.bannerHover {
  pointer-events: none;
  opacity: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.7) 5%,
    rgba(0, 0, 0, 0.6) 0,
    rgba(0, 0, 0, 0.6) 10%,
    rgba(0, 0, 0, 0.7) 0,
    rgba(0, 0, 0, 0.7) 15%,
    rgba(0, 0, 0, 0.6) 0,
    rgba(0, 0, 0, 0.6) 20%,
    rgba(0, 0, 0, 0.7) 0,
    rgba(0, 0, 0, 0.7) 25%,
    rgba(0, 0, 0, 0.6) 0,
    rgba(0, 0, 0, 0.6) 30%,
    rgba(0, 0, 0, 0.7) 0,
    rgba(0, 0, 0, 0.7) 35%,
    rgba(0, 0, 0, 0.6) 0,
    rgba(0, 0, 0, 0.6) 40%,
    rgba(0, 0, 0, 0.7) 0,
    rgba(0, 0, 0, 0.7) 45%,
    rgba(0, 0, 0, 0.6) 0,
    rgba(0, 0, 0, 0.6) 50%,
    rgba(0, 0, 0, 0.7) 0,
    rgba(0, 0, 0, 0.7) 55%,
    rgba(0, 0, 0, 0.6) 0,
    rgba(0, 0, 0, 0.6) 60%,
    rgba(0, 0, 0, 0.7) 0,
    rgba(0, 0, 0, 0.7) 65%,
    rgba(0, 0, 0, 0.6) 0,
    rgba(0, 0, 0, 0.6) 70%,
    rgba(0, 0, 0, 0.7) 0,
    rgba(0, 0, 0, 0.7) 75%,
    rgba(0, 0, 0, 0.6) 0,
    rgba(0, 0, 0, 0.6) 80%,
    rgba(0, 0, 0, 0.7) 0,
    rgba(0, 0, 0, 0.7) 85%,
    rgba(0, 0, 0, 0.6) 0,
    rgba(0, 0, 0, 0.6) 90%,
    rgba(0, 0, 0, 0.7) 0,
    rgba(0, 0, 0, 0.7) 95%,
    rgba(0, 0, 0, 0.6) 0,
    rgba(0, 0, 0, 0.6) 100%
  );
  transition-duration: 0.3s;
  border-radius: 3px;
}

.bannerImage.clickable:hover > .bannerHover {
  opacity: 1;
}

.bannerImage.clickable:hover > .bannerHover > .bannerIcon {
  opacity: 1;
}

.bannerHover {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.bannerIcon {
  opacity: 0;
  height: 1.5vw;
  transition-duration: 0.3s;
}

#renderer {
  width: 100vw;
}

.blur {
  filter: blur(5px);
}
