@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css");
@import url("metropolis.css");

@-moz-document url-prefix() {
  #selectRankInnerContainer {
    background-color: #222 !important;
    border: 2px solid white !important;
  }
}

body {
  background-size: cover;
  background-position: center;
  background-image: url("/images/backgrounds/main.png");
  user-select: none;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Pretendard Variable", "나눔바른고딕", arial;
  letter-spacing: -0.5px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.metropolis {
  font-family: "Metropolis", "Pretendard Variable", "나눔바른고딕", arial;
}

.lighter {
  font-weight: 100;
}

.light {
  font-weight: 300;
}

.medium {
  font-weight: 400;
}

.link {
  text-decoration: none;
  color: #2196f3;
}

.blackLink {
  text-decoration: none;
  color: #333;
}

.gray {
  color: #888;
  font-style: italic;
}

.icon {
  height: 3vh;
}

.infoIcon {
  height: 4vh;
  margin-right: 0.5vw;
}

.mainIcon {
  filter: drop-shadow(0 0 10px rgba(50, 50, 50, 0.2));
  height: 18vh;
}

.fadeIcon {
  position: absolute;
  height: 18vh;
  opacity: 0;
  transition-duration: 0.2s;
}

.fadeIcon:hover {
  opacity: 1;
}

.fadeIconContainer {
  display: flex;
}

.menuTitle {
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
  font-size: 3vh;
  font-weight: 700;
}

.menuSubtitle {
  font-size: 2vh;
  margin-top: -5px;
}

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #1788de;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 2000;
  bottom: 0;
  right: 100%;
  width: 100%;
  height: 1vh;
}

.pace .pace-activity {
  display: block;
  position: fixed;
  z-index: 2000;
  bottom: 2vh;
  right: 15px;
  width: 14px;
  height: 14px;
  border: solid 2px transparent;
  border-top-color: #1788de;
  border-left-color: #1788de;
  border-radius: 10px;
  -webkit-animation: pace-spinner 400ms linear infinite;
  -moz-animation: pace-spinner 400ms linear infinite;
  -ms-animation: pace-spinner 400ms linear infinite;
  -o-animation: pace-spinner 400ms linear infinite;
  animation: pace-spinner 400ms linear infinite;
}

@-webkit-keyframes pace-spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes pace-spinner {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes pace-spinner {
  0% {
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-ms-keyframes pace-spinner {
  0% {
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes pace-spinner {
  0% {
    transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

p {
  margin: 0;
}

::-webkit-scrollbar {
  width: 3px;
}

#selectSongContainer::-webkit-scrollbar-track {
  background: #8f8f8f;
}

#selectSongContainer::-webkit-scrollbar-thumb {
  background: #dddddd;
}

#selectSongContainer::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}

::-webkit-scrollbar-track {
  background: #dddddd;
}

::-webkit-scrollbar-thumb {
  background: #8f8f8f;
}

::-webkit-scrollbar-thumb:hover {
  background: #666666;
}

#loadingContainer {
  background-color: white;
  position: absolute;
  z-index: 1;
  opacity: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-image: url("/images/backgrounds/loading.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#logo {
  width: 25vw;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

#footer {
  z-index: 100;
  position: fixed;
  height: 10vh;
  width: 100vw;
  bottom: 0;
  display: flex;
  text-align: center;
  align-items: center;
}

#footerLeft {
  opacity: 0;
  padding-left: 5vw;
  height: 100%;
  width: 33vw;
  display: flex;
  text-align: left;
  align-items: center;
  justify-content: flex-start;
  font-size: 2vh;
  transition-duration: 1s;
}

#footerCenter {
  height: 100%;
  width: 34vw;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition-duration: 1s;
}

#footerRight {
  font-size: 1.6vh;
  padding-right: 5vw;
  height: 100%;
  width: 33vw;
  display: flex;
  text-align: right;
  align-items: center;
  justify-content: flex-end;
}

#urlateText {
  transition-duration: 1s;
  margin-bottom: 2vh;
}

#songName {
  margin-bottom: 0.5vh;
  opacity: 0;
  transition-duration: 1s;
}

#noteIcon {
  height: 0.8em;
}

#header {
  position: fixed;
  z-index: 5;
  opacity: 0;
  height: 15vh;
  width: 100vw;
  top: 0;
  display: flex;
  text-align: center;
  align-items: center;
  transition-duration: 1s;
}

#headerLeft {
  height: 100%;
  width: 50vw;
  display: flex;
  text-align: left;
  align-items: center;
  justify-content: flex-start;
  background-image: url("/images/parts/elements/namespace_pure.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 19vw auto;
}

#headerRight {
  padding-right: 5vw;
  height: 100%;
  width: 50vw;
  display: flex;
  text-align: right;
  align-items: center;
  justify-content: flex-end;
}

#name {
  color: white;
  padding-left: 5vw;
  font-size: 3vh;
  margin-top: 5px;
}

#line {
  border-left: 2px solid #bbb;
  height: 1em;
  margin: 5px;
}

#selectContainer {
  background: #000 !important;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  opacity: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("/images/backgrounds/track.png");
  background-repeat: no-repeat;
  overflow-x: hidden;
  overflow-y: hidden;
}

#menuContainer {
  position: fixed;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  display: none;
  opacity: 0;
  transform: scale(0.9);
  text-align: center;
  align-items: center;
  justify-content: center;
  transition-duration: 1s;
}

#menuContainer.loaded {
  opacity: 1;
  transform: scale(1);
}

.menuSelector {
  width: 13vw;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-left: 1vw;
  margin-right: 1vw;
}

.clickable {
  cursor: pointer;
}

.closeBtn {
  z-index: 200;
  position: fixed;
  top: 6vh;
  right: 5vw;
}

.rankCloseBtn {
  z-index: 200;
}

.storeInfoCloseBtn {
  z-index: 200;
  position: fixed;
  top: 21vh;
  right: 26vw;
}

.containers {
  z-index: 100;
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  left: 0;
  top: 0;
  display: none;
  opacity: 0;
  width: 100vw;
  height: 100vh;
  background: white;
}

#infoContainer {
  color: #333;
  background-color: #fff;
  background-image: url("/images/backgrounds/option_decorations.png");
  background-position: center bottom;
  background-size: cover;
  background-attachment: fixed;
}

#infoLogo {
  height: 7vh;
  margin: 4.5vh;
}

#licenseMain {
  font-size: 3vh;
  font-weight: 700;
}

#license {
  line-height: 150%;
  font-size: 2.5vh;
  font-weight: 400;
  margin-top: 16vh;
  margin-bottom: 4.5vh;
}

#infoLineContainer {
  margin-top: 4.5vh;
  margin-bottom: 4.5vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#infoLine {
  border-top: 2px solid rgb(39, 39, 39);
  width: 4vw;
  margin: 10px;
}

#infoTitle {
  margin-top: 4.5vh;
  margin-bottom: 4.5vh;
  font-size: 3vh;
  font-weight: 700;
}

#infoSubtitle {
  color: #bbb;
  margin-bottom: 4.5vh;
  font-size: 2.5vh;
  font-weight: 500;
}

.profileContainer {
  margin-top: 4.5vh;
  margin-bottom: 4.5vh;
  margin-left: 20vw;
  width: 60vw;
  height: 10vw;
}

.tumblbugContainer {
  margin-top: 4.5vh;
  margin-bottom: 4.5vh;
  margin-left: 20vw;
  width: 60vw;
  height: 5vw;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2vh;
  font-weight: 600;
  background-position: center;
  background-size: cover;
  float: left;
  width: 10vw;
  height: 10vw;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 2vh rgba(70, 70, 70, 0.1);
  margin-left: 1vw;
  margin-right: 1vw;
}

.profileHover {
  cursor: pointer;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  font-size: 3vh;
  font-weight: 600;
  transition-duration: 0.1s;
}

.profileText {
  font-size: 3vh;
  font-weight: 600;
}

.profileTextSmall {
  font-size: 2vh;
  font-weight: 600;
}

.tumblbug1 {
  height: 5vw;
  background-image: url("/images/credits/tumblbug_1.png");
}

.tumblbug2 {
  height: 5vw;
  background-image: url("/images/credits/tumblbug_2.png");
}

.tumblbug3 {
  height: 5vw;
  background-image: url("/images/credits/tumblbug_3.png");
}

.tumblbug4 {
  height: 5vw;
  background-image: url("/images/credits/tumblbug_4.png");
}

.tumblbug5 {
  height: 5vw;
  background-image: url("/images/credits/tumblbug_5.png");
}

.tumblbug6 {
  height: 5vw;
  background-image: url("/images/credits/tumblbug_6.png");
}

.profileHover:hover {
  opacity: 1;
}

#profileCoupy {
  background-image: url("/images/credits/coupy.png");
}

#profileAlta {
  background-image: url("/images/credits/altadex.jpg");
}

#profileShd {
  background-image: url("/images/credits/shd.jpg");
}

#profileGreenstar {
  background-image: url("/images/credits/greenstar.jpg");
}

#profileRanol {
  background-image: url("/images/credits/ranol.png");
}

#profileKiwi {
  background-image: url("/images/credits/kiwi.png");
}

#profilePine {
  background-image: url("/images/credits/pine.png");
}

#profileSkylight {
  background-image: url("/images/credits/lightqp.png");
}

#profileJoon {
  background-image: url("/images/credits/joon.png");
}

#profileHanu {
  background-image: url("/images/credits/hanukoon.png");
}

#profileGeoplex {
  background-image: url("/images/credits/geoplex.png");
}

#profileDanu {
  background-image: url("/images/credits/danuel.jpg");
}

#profileViktor {
  background-image: url("/images/credits/viktor.png");
}

#profileSaw {
  background-image: url("/images/credits/saw.png");
}

#profileBasix {
  background-image: url("/images/credits/basix.png");
}

#infoProfileContainer {
  overflow-y: hidden;
  z-index: 101;
}

#infoProfileLeft {
  padding-top: 6vh;
  float: left;
  width: 18vw;
  height: 100vh;
}

#infoProfileRight {
  padding-top: 6vh;
  float: left;
  width: 82vw;
  height: 100vh;
}

#infoProfileImg {
  border-radius: 100px;
  width: 10vw;
  height: 10vw;
  box-shadow: 0 0 10px #33333333;
}

#infoProfileTop {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 10vw;
}

#infoProfileName {
  font-size: 6vh;
  font-weight: 700;
}

#infoProfilePosition {
  color: #666;
  font-size: 3vh;
  font-weight: 500;
}

#infoProfileBottom {
  font-weight: 500;
  padding-top: 2vh;
  text-align: left;
  font-size: 3vh;
}

#quote {
  font-size: 3.5vh;
  font-weight: 700;
}

.infoProfilePart {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 2vh;
}

#visualizer {
  transform: scaleY(1.1) translateY(5vh);
  mix-blend-mode: hard-light;
  filter: invert(70%);
  opacity: 0.3;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vw;
  overflow-x: hidden;
  overflow-y: hidden;
  transition-duration: 0.3s;
}

#back1 {
  top: 20vh;
  right: 15vw;
  height: 20vh;
  width: auto;
}

#back2 {
  top: 0vh;
  right: 25vw;
  height: 30vh;
  width: auto;
}

#back3 {
  top: 50vh;
  right: 22vw;
  height: 10vh;
  width: auto;
}
#back4 {
  top: 30vh;
  left: 13vw;
  height: 18vh;
  width: auto;
}

#back5 {
  bottom: 15vh;
  left: 20vw;
  height: 13vh;
  width: auto;
}

.fadeIn {
  animation: fadeIn 0.3s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeOut {
  animation: fadeOut 0.3s ease-in-out forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.shortFadeIn {
  animation: shortFadeIn 0.2s linear forwards;
}

@keyframes shortFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.shortFadeOut {
  animation: shortFadeOut 0.2s linear forwards;
}

@keyframes shortFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#advancedContainer {
  background-color: #fff;
  background-image: url("/images/backgrounds/advanced_decorations.png");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

#advancedTitle {
  font-size: 5vh;
  margin-top: 4vh;
  padding: 0;
  font-weight: 100;
}

.advancedDescription {
  font-size: 2vh;
  margin: 4.5vh 0 0 0;
  padding: 0;
}

.advancedSubtitle {
  font-size: 3vh;
  font-weight: 600;
  margin: 7vh 0 0 0;
  padding: 0;
}

#advancedIconsContainer {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.advancedIconWithDescription {
  margin-top: 4.5vh;
  display: flex;
  text-align: left;
  align-items: center;
}

.advancedIconDescription {
  font-size: 2vh;
  margin-left: 2vw;
}

#subtitleHighlight {
  background: rgb(255, 255, 255);
  background: linear-gradient(180deg, rgb(255, 255, 255) 49%, rgb(235, 235, 235) 50%);
}

#registerBtn {
  margin: 10vh;
  font-weight: 600;
  width: 13vw;
  height: 7vh;
  border-radius: 15px;
  border: none;
  background: linear-gradient(135deg, rgba(59, 137, 236, 1) 0%, rgba(187, 62, 254, 1) 100%);
  font-size: 3vh;
  color: white;
  box-shadow: 0 0 20px rgba(50, 50, 50, 0.3);
}

.additionalDescription {
  color: #666;
  font-size: 1.5vh;
}

#optionContainer {
  background-color: #fff;
  background-image: url("/images/backgrounds/option_decorations.png");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.containersTitle {
  top: 0;
  left: 0;
  width: 100vw;
  position: fixed;
  font-size: 5vh;
  margin-top: 4vh;
  padding: 0;
  font-weight: 700;
}

#optionElementsContainer {
  position: fixed;
  height: 72vh;
  width: 100vw;
  top: 16vh;
}

#optionSelectorContainer {
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  height: 72vh;
  width: 12vw;
  float: left;
  border-right: solid #bbb 3px;
  padding-right: 3vw;
}

.optionSelectors {
  cursor: pointer;
  margin: 2vh;
  color: #9b9b9b;
  font-weight: 500;
  font-size: 4vh;
}

.optionSelected {
  cursor: default;
  color: #404040;
  font-weight: 800;
}

.optionContentsContainer {
  display: none;
  text-align: left;
  padding-left: 3vw;
  height: 72vh;
  width: 80vw;
  float: left;
  overflow-y: auto;
  scrollbar-color: #5a5a5a #cecece;
  scrollbar-width: thin;
}

.optionTitle {
  margin-top: 4vh;
  font-weight: 750;
  color: #404040;
  font-size: 3.3vh;
}

.optionSemiTitle {
  font-weight: 600;
  color: #404040;
  font-size: 2.5vh;
  margin-right: 1vw;
}

.optionValueContainer {
  margin-top: 2vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.optionValue {
  margin-top: 0.5vh;
  font-family: "Pretendard Variable", "나눔바른고딕", arial;
  font-weight: 400;
  color: #404040;
  font-size: 2vh;
}

.optionSelect {
  cursor: pointer;
  font-weight: 500;
  padding-left: 1vw;
  width: 10vw;
  height: 5vh;
  font-size: 2vh;
  font-family: "Pretendard Variable", "나눔바른고딕", arial;
  letter-spacing: -0.5px;
  color: #fff;
  background-color: #666;
  border-radius: 10px;
}

.optionShow {
  display: initial;
}

.optionSlider {
  margin-right: 0.5vw;
  -webkit-appearance: none;
  width: 10vw;
  height: 3px;
  background: #616161;
  outline: none;
}

.optionSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 1000px;
  background: #363636;
  cursor: pointer;
}

.optionSlider::-moz-range-thumb {
  width: 10px;
  height: 10px;
  border-radius: 1000px;
  background: #363636;
  cursor: pointer;
}

.optionButton {
  cursor: pointer;
  font-weight: 500;
  text-align: center;
  padding: 1.2vh 3vw 1.2vh 3vw;
  font-size: 2vh;
  font-family: "Pretendard Variable", "나눔바른고딕", arial;
  letter-spacing: -0.5px;
  color: #fff;
  text-decoration: none;
  background-color: #666;
  border-radius: 10px;
}

.optionCheckbox {
  margin-right: 2vw;
  border: solid #666 5px;
  width: 1vw;
  height: 1vw;
}

.advancedOnly {
  display: none;
}

#selectContainer {
  color: white;
}

#selectBackground {
  z-index: -1;
  pointer-events: none;
  background-size: cover;
  background-position: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  filter: blur(20px);
  opacity: 0.6;
  transform: scale(1.1);
}

#selectContainerTopLeft {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  position: fixed;
  top: 4.5vh;
  left: 5vw;
}

#tracksLine {
  margin-bottom: 4px;
  margin-left: 10px;
  width: 2px;
  height: 2vh;
  background-color: white;
}

.tracksSelection {
  display: none;
  cursor: pointer;
  margin-bottom: 3px;
  margin-left: 10px;
  color: white;
  font-size: 2vh;
}

.tracksSelection.selected {
  display: inline-block;
  cursor: pointer;
  margin-bottom: 3px;
  margin-left: 10px;
  color: white;
  font-size: 2vh;
}

.bottomArrow {
  vertical-align: middle;
  font-size: 1vh;
}

#tracks {
  height: 5vh;
}

#selectContainerLeft {
  padding-left: 6vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10vh;
  padding-top: 2vh;
  height: 80vh;
  width: 48vw;
  float: left;
}

#selectContainerTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 20%;
  width: 100%;
}

#selectContainerTitleLeft {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: white;
  width: 60%;
}

#selectTitle {
  text-align: left;
  font-size: 5vh;
  font-weight: 200;
}

#selectArtist {
  font-size: 3vh;
  font-weight: 500;
}

#selectContainerTitleRight {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: 40%;
}

#selectScore {
  font-size: 3vh;
  font-weight: 600;
}

#selectScoreValue {
  font-size: 5vh;
  font-weight: 700;
}

#selectContainerAlbum {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 53%;
  width: 100%;
}

#selectContainerAlbumLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 60%;
}

#selectAlbumContainer {
  border: 2px solid white;
  box-shadow: 0 0 0 1px white inset;
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 100%;
}

#starContainer {
  background-color: #00000050;
  backdrop-filter: blur(5px) contrast(1.5);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -5.35vh;
  width: 100%;
  height: 5vh;
  z-index: 5;
  position: relative;
}

#selectAlbum {
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 42vh;
}

#selectContainerAlbumRight {
  padding-top: 3vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 40%;
}

#trackStats {
  padding: 2px 0px;
  color: black;
  background-color: white;
  line-height: 3.2vh;
  width: 90%;
  height: 3vh;
  font-weight: 700;
  font-size: 2vh;
}

#modsTitleContainer {
  margin-top: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 3vh;
  font-weight: 700;
  font-size: 2vh;
}

.modsTitleLine {
  height: 2px;
  width: 33%;
  background-color: white;
}

#modsTitle {
  width: 34%;
}

.trackModsValue {
  background-color: rgba(255, 255, 255, 0.1);
  transition-duration: 0.3s;
  font-size: 2vh;
  text-align: center;
  width: 20%;
  cursor: pointer;
  color: white;
  font-weight: 700;
  border: 2px solid white;
  border-radius: 100px;
  padding: 1% 5%;
}

.trackModsValue.enabled {
  background-color: white;
  color: black;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.trackStatContainer {
  margin-top: 1.5vh;
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 2vh;
  font-weight: 500;
}

.trackStatLineContainer {
  margin-top: 0.5vh;
  width: 70%;
  height: 5px;
  background-color: #00000050;
}

.trackStatLine {
  height: 100%;
  background-color: #fff;
  transition-duration: 0.3s;
  width: 100%;
}

#selectContainerInfo {
  padding-top: 7%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 15%;
  width: 100%;
}

.selectInfo {
  text-align: left;
  height: 100%;
  margin-right: 3vw;
}

.selectInfoTitleContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.selectInfoTitle {
  font-size: 3vh;
  font-weight: 600;
}

.key {
  margin-left: 0.5vw;
  font-size: 1.5vh;
  font-weight: 400;
  padding: 0.3vh 0.7vw;
  border: 2px solid white;
  border-radius: 10px;
}

.selectInfoContentsContainer {
  display: flex;
  flex-direction: row;
  margin-top: 1vh;
}

.difficulty {
  display: flex;
  flex-direction: column;
  width: 3.5vw;
  font-size: 3.5vh;
  cursor: pointer;
  opacity: 0.3;
  font-weight: 300;
  transition-duration: 0.3s;
}

.difficulty:not(.difficultySelected):hover {
  opacity: 0.5;
}

.difficulty.right {
  width: 5.5vw;
}

.difficultyText {
  font-size: 2vh;
  font-weight: 800;
}

.difficultySelected {
  opacity: 1;
  font-weight: 800;
}

#selectStars {
  font-weight: 100;
  font-size: 2.5vh;
}

#selectRank {
  font-size: 6vh;
  font-weight: 300;
}

.medals {
  width: 5vh;
  opacity: 0.1;
  margin-right: 0.5vw;
}

#selectContainerRight {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding-right: 6vw;
  padding-top: 5vh;
  margin-top: 10vh;
  height: 80vh;
  width: 35vw;
  margin-left: 5vw;
  float: left;
}

#selectContainerRightTitles {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  text-align: right;
  margin-bottom: 2%;
  margin-right: 10px;
}

#selectSongContainer {
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
  height: 85%;
}

.songSelectionContainer {
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 65%, rgba(255, 255, 255, 0.1));
  background-size: 200% 100%;
  background-position-x: 0%;
  height: 6vh;
  --artist-display: initial;
  --title-weight: 300;
  padding-top: 1vh;
  padding-bottom: 1vh;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  transition-duration: 0.2s;
}

.songSelectionContainer:hover {
  background-position-x: 100%;
  height: 7vh;
}

.songSelectionInfo {
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  margin-right: 1.5vw;
  opacity: 1;
}

.songSelectionInfo.locked {
  opacity: 0.5;
}

.songSelectionTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  font-size: 3.5vh;
  font-weight: var(--title-weight);
}

.songSelectionIcon {
  margin-left: 7px;
  margin-bottom: 2px;
  height: 2.5vh;
}

.songSelectionArtist {
  display: var(--artist-display);
  font-size: 2.5vh;
  font-weight: 600;
}

.songSelectionRank {
  margin-right: 1.5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2vw;
}

.rankSS:before {
  font-size: 5vh;
  font-weight: 800;
  color: #faeb1f;
  content: "SS";
}

.rankS:before {
  font-size: 5vh;
  font-weight: 800;
  color: #faeb1f;
  content: "S";
}

.rankA:before {
  font-size: 5vh;
  font-weight: 800;
  color: #42e24f;
  content: "A";
}

.rankB:before {
  font-size: 5vh;
  font-weight: 800;
  color: #22c7f0;
  content: "B";
}

.rankC:before {
  font-size: 5vh;
  font-weight: 800;
  color: #f14b66;
  content: "C";
}

.rankF:before {
  font-size: 5vh;
  font-weight: 800;
  color: #c0c0c0;
  content: "F";
}

.rankQ:before {
  font-size: 5vh;
  font-weight: 800;
  color: #fff;
  opacity: 0.2;
  content: "?";
}

.rankL:before {
  font-size: 4vh;
  font-weight: 800;
  color: #fff;
  opacity: 0.2;
  content: "🔒";
}

.songSelectionLottie {
  height: 5vh;
  width: 10vh;
  margin-right: 1vw;
}

.songSelected {
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
  --artist-display: none;
  --title-weight: 800;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0.5));
}

#selectRankContainer {
  pointer-events: none;
  opacity: 0;
  position: fixed;
  padding-left: 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 12vh;
  height: 64vh;
  width: 44vw;
  float: left;
  margin-left: 6vw;
  z-index: 10;
}

#selectRankInnerContainer {
  background-color: rgba(50, 50, 50, 0.5);
  backdrop-filter: blur(20px);
  border-radius: 5px;
  text-align: left;
  padding-left: 2vw;
  padding-right: 2vw;
  width: 100%;
  height: 100%;
}

#selectRankTitleContainer {
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: row;
}

#selectRankTitleLeftContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 50%;
  height: 100%;
  float: left;
  text-align: left;
}

#selectRankTitleRightContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
  height: 100%;
  float: left;
  text-align: right;
}

#selectRankTitle {
  font-size: 3vh;
  color: white;
  letter-spacing: 0.3em;
}

.rankGuide {
  font-size: 2.5vh !important;
  font-weight: 700 !important;
  opacity: 0.7 !important;
}

.selectRank {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 4vh;
}

.selectRankNumber {
  width: 3vw;
  float: left;
  font-size: 2.7vh;
  font-weight: 700;
}

.selectRankName {
  width: 17vw;
  float: left;
  font-size: 2.7vh;
  font-weight: 600;
}

.selectRankScore {
  width: 12vw;
  float: left;
  font-size: 2.7vh;
  font-weight: 500;
}

#selectRankScoreContainer {
  width: 100%;
  height: 75%;
  overflow-y: auto;
}

#offsetTitle {
  font-size: 5vh;
  margin-top: 4vh;
  margin-bottom: 5vh;
  padding: 0;
  font-weight: 600;
}

#offsetContiner {
  display: none;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  z-index: 101;
  background-color: #fff;
  background-image: url("/images/backgrounds/option_decorations.png");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.offsetPreviewContainer {
  margin-top: 3vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.offsetViewContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
}

.offsetText {
  margin-bottom: 1vh;
  font-size: 3.5vh;
  font-weight: 600;
}

.offsetCircle {
  width: 20vh;
  height: 20vh;
  border-radius: 100vh;
  border: 1px solid black;
}

.timingText {
  margin-top: 1vh;
  font-family: "Pretendard Variable", "나눔바른고딕", arial;
  font-size: 2vh;
  font-weight: 400;
}

.timingCircle {
  width: 5vh;
  height: 5vh;
  border-radius: 100vh;
  border: 1px solid black;
}

#offsetDescription {
  letter-spacing: -2px;
  margin-top: 5vh;
  font-size: 3.5vh;
  font-weight: 400;
}

#offsetSubDescription {
  letter-spacing: -2px;
  font-size: 2vh;
  font-weight: 400;
}

#offsetButtonContainer {
  margin-top: 3vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 13vh;
}

#offsetTapButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #373737;
  width: 50%;
  height: 100%;
  border-radius: 1em;
  cursor: pointer;
  box-shadow: 0 0 1vh rgba(50, 50, 50, 0.3);
}

#offsetButtonText {
  font-size: 5vh;
  color: #fff;
  font-weight: 700;
}

.offsetSideContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 1vw;
  margin-right: 1vw;
}

.offsetSideIcon {
  margin-top: 1vh;
  margin-bottom: 1vh;
}

#offsetSpeedText {
  padding-right: 0.2vw;
  font-size: 2vh;
}

#offsetResetButton {
  margin-top: 3vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e56464;
  width: 10vw;
  height: 4vh;
  border-radius: 0.5em;
  cursor: pointer;
  box-shadow: 0 0 1vh rgba(50, 50, 50, 0.3);
}

#offsetResetButtonText {
  font-size: 2vh;
  color: #fff;
  font-weight: 500;
}

.storeSelectors {
  height: 5vh;
  cursor: pointer;
  margin: 2vh;
  opacity: 0.3;
}

.storeSelected {
  cursor: default;
  opacity: 1;
}

.storeContentsContainer {
  display: none;
  text-align: left;
  padding-left: 3vw;
  height: 72vh;
  width: 64vw;
  float: left;
  overflow-y: auto;
  scrollbar-color: #5a5a5a #cecece;
  scrollbar-width: thin;
}

.storeShow {
  display: initial;
}

.storeRowContainer {
  margin-top: 2vh;
  margin-bottom: 2vh;
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.storeColumnContainer {
  margin-top: 2vh;
  margin-bottom: 2vh;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.storeBasketsContainer {
  padding: 2vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 59vw;
  height: 10vh;
  border-radius: 10px;
  border: solid #d3d3d3 1px;
  box-shadow: 0 0 20px rgba(50, 50, 50, 0.1);
}

.storeSongsContainer {
  cursor: pointer;
  padding: 2vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 27vw;
  height: 20vh;
  border-radius: 10px;
  border: solid #d3d3d3 1px;
  box-shadow: 0 0 20px rgba(50, 50, 50, 0.1);
}

.storeSongsContainer.hide {
  pointer-events: none;
  opacity: 0;
}

.storeSongsLeft {
  width: 40%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.storeSongsAlbum {
  height: 16vh;
  width: 16vh;
  border-radius: 10px;
}

.storeBasketsAlbum {
  height: 10vh;
  width: 10vh;
  border-radius: 10px;
}

.storeSongsRight {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.storeSongsTop {
  width: 100%;
  height: 13vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.storeSongsBottom {
  width: 100%;
  height: 3vh;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.storeName {
  font-size: 4vh;
  font-weight: 700;
}

.storeSkinName {
  font-size: 4vh;
  font-weight: 700;
  margin-left: 1vw;
}

.storeSongArtist {
  font-size: 2.3vh;
  font-weight: 400;
}

.storePrice {
  font-size: 3vh;
  font-weight: 400;
  margin-right: 1vw;
}

.storeSalePrice {
  color: #b0b0b0;
}

.storeSkinsContainer {
  cursor: pointer;
  padding: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 27vw;
  height: 40vh;
  border-radius: 10px;
  border: solid #d3d3d3 1px;
  box-shadow: 0 0 20px rgba(50, 50, 50, 0.1);
}

.storeSkinsContainer.hide {
  pointer-events: none;
  opacity: 0;
}

.storeSkinTitleContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 5vh;
}

.storeSkinContentContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 26vh;
}

.storeSkin {
  width: 20vw;
}

.storeBasketsSkin {
  width: 10vh;
}

.storeSkinPriceContainer {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
  height: 5vh;
}

.storeBasketsLeft {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.storeBasketsRight {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.storeBasketsInfo {
  height: 100%;
  padding-left: 1vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#storeBasketsContainer {
  overflow-y: auto;
  height: 62vh;
}

.storeInfoBackground {
  display: none;
  opacity: 0;
  position: fixed;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  transition-duration: 0.5s;
}

.storeInfoContainer {
  padding: 1vh 2vw 1vh 2vw;
  background-color: white;
  width: 50vw;
  height: 65vh;
  border-radius: 10px;
}

#DLCinfoTitleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  width: 50vw;
}

.storeInfoTitle {
  font-size: 4vh;
  font-weight: 700;
}

#DLCinfoContentsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#DLCInfoAlbum {
  height: 35vh;
  width: 35vh;
  border-radius: 5px;
}

#DLCinfoSongsContainer {
  width: calc(50vw - 35vh);
  height: 35vh;
  overflow-y: scroll;
}

.DLCinfoSongContainer {
  padding-left: 2vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: calc(100% - 2vw);
  height: 10vh;
}

.DLCinfoSongAlbum {
  object-fit: cover;
  border-radius: 5px;
  height: 7vh;
  width: 7vh;
}

.DLCinfoSongAbout {
  padding-left: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.DLCinfoSongName {
  font-size: 3vh;
  font-weight: 700;
}

.DLCinfoSongProd {
  font-size: 2vh;
  font-weight: 300;
}

#DLCinfoAboutContainer {
  width: 50vw;
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.storeInfoButtonContainer {
  width: 50vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.storeButton {
  cursor: pointer;
  font-weight: 600;
  width: 13vw;
  height: 7vh;
  border-radius: 15px;
  font-size: 3vh;
  color: black;
  border: solid 3px transparent;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #62c7fc, #ac67fe);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #fff inset;
  filter: drop-shadow(0 0 10px rgba(50, 50, 50, 0.2));
}

.storeButtonDisabled {
  cursor: default;
  background: #222;
}

#skinInfoTitleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 13vh;
  width: 50vw;
}

#SkininfoSkinName {
  font-size: 3vh;
  font-weight: 500;
}

#skinInfoPreviewContainer {
  width: 100%;
  height: 42vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#skinInfoPreview {
  height: 40vh;
}

.overlay {
  transition-duration: 0.5s;
  transform: translateY(10vh);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 300;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 8vh;
  background-color: white;
  box-shadow: 0 0 20px rgba(50, 50, 50, 0.3);
}

.overlayOpen {
  transform: translateY(0vh);
}

#nothingHere {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  font-size: 3vh;
  color: #555;
}

.overlayContainer {
  pointer-events: none;
  background-color: rgba(50, 50, 50, 0.8);
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition-duration: 1s;
  opacity: 0;
  z-index: 300;
}

.overlayLoadingContainerText {
  color: white;
  font-size: 3vh;
  font-weight: 500;
}

.loadingCircle {
  width: 2vw;
  -webkit-animation: pace-spinner 400ms linear infinite;
  -moz-animation: pace-spinner 400ms linear infinite;
  -ms-animation: pace-spinner 400ms linear infinite;
  -o-animation: pace-spinner 400ms linear infinite;
  animation: pace-spinner 400ms linear infinite;
}

.storeDelete {
  cursor: pointer;
  margin-top: 0.5vh;
  height: 4vh;
}

#loadingCircle {
  z-index: 200;
  pointer-events: none;
  opacity: 0;
  mix-blend-mode: difference;
  position: fixed;
  right: 2vw;
  bottom: 3vh;
}

#basketsButtonContainer {
  padding-right: 1vw;
  height: 10vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#storeContentsBaskets {
  overflow-y: hidden;
}

.storePriceSale {
  margin-right: 0.5vw;
  color: #666;
  text-decoration: line-through;
}

.storeFooterLeft {
  position: fixed;
  text-align: left;
  font-size: 1.3vh;
  color: black;
  left: 2vh;
  bottom: 2vh;
}

#storeFooterRight {
  position: fixed;
  right: 2vh;
  bottom: 2vh;
}

#animContainer {
  background-image: url("/images/backgrounds/main.png");
  z-index: 0;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

#animContainer > canvas {
  mix-blend-mode: color-burn;
}

#overlayPaymentContainer {
  transition-duration: 0.3s;
  background-color: rgba(50, 50, 50, 0.5);
}

#overlayPaymentSelectionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 0vw 2vw 2vw 2vw;
  width: 40vw;
  height: 30vh;
  border-radius: 10px;
}

#overlayPaymentSelection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 10vh;
}

.overlayPaymentItem {
  cursor: pointer;
  width: 8vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.paymentIcon {
  width: 3vw;
}

.paymentText {
  margin-top: 0.5em;
  font-size: 2vh;
  font-weight: 500;
}

#paymentTitle {
  margin-bottom: 5vh;
}

#paymentCloseBtn {
  z-index: 200;
  position: fixed;
  top: 39vh;
  right: 31vw;
}

#overlayCodeContainer {
  transition-duration: 0.3s;
  z-index: 200;
}

#codeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 0vw 2vw 2vw 2vw;
  width: 30vw;
  height: 30vh;
  border-radius: 10px;
}

#codeInput {
  font-size: 2vh;
  width: 20vw;
  text-align: center;
  height: 3vh;
  margin-bottom: 2vh;
  border: 1px solid black;
  border-radius: 5px;
}

#codeTitle {
  margin-bottom: 3vh;
}

#codeCloseBtn {
  z-index: 250;
  position: fixed;
  top: 40vh;
  right: 36vw;
}

.introContainer {
  background: #000;
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  align-items: center;
  justify-content: center;
  transition-duration: 0.5s;
}

#warningContainer {
  display: none;
  flex-direction: column;
  z-index: 502;
}

#pressAnywhere {
  font-size: 2vh;
  color: #aaa;
  transition-duration: 0.3s;
  opacity: 0;
}

#warningInner {
  line-height: 150%;
  font-size: 2.5vh;
  color: #fff;
  padding: 5vh 5vw 5vh 5vw;
  margin-bottom: 5vh;
  border-bottom: 0.1vh solid #000;
  transition-duration: 0.3s;
  opacity: 0;
}

#intro1container {
  z-index: 501;
}

#intro2container {
  z-index: 500;
}

#intro1video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

#intro2 {
  width: 50vh;
  height: 50vh;
}

#warningTitle {
  font-weight: 700;
  font-size: 4vh;
  margin-bottom: 1vh;
  color: #f1d94d;
}

#tutorialInformation {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#tutorialText {
  font-size: 2vh;
}

.tutorialInner {
  width: 100vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#tutorialInfoMid {
  height: 40vh;
}

#tutorialSkip {
  cursor: pointer;
  text-decoration: underline;
  color: #222;
  margin-top: 2vh;
}

#tl_popupPOSDV {
  display: none !important;
  opacity: 0;
}

#storeTutorialScreen {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.storeTutorial {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 30vw;
  height: 40vh;
}

.storeTutorialImage {
  width: 25vw;
}

.storeTutorialText {
  margin-top: 3vh;
  font-size: 2vh;
}

#storeTutorialButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  position: fixed;
  left: 0;
  top: 80vh;
}

#copyrightLogo {
  position: fixed;
  bottom: 8vh;
  right: 5vw;
}

#copyrightLogoImg {
  position: fixed;
  top: 2vh;
  right: 1vw;
  width: 4vw;
}

.badgeIcon {
  height: 10vh;
  margin-left: 1vw;
  margin-right: 1vw;
}

.songSelectionDisable {
  display: none;
}

.sortText {
  font-size: 2vh;
  color: #ccc;
  cursor: pointer;
  font-weight: 500;
  margin-right: 8px;
}

#sortTextRight {
  margin-right: 12px;
}

.sortText.selected {
  color: white;
  cursor: default;
  font-weight: 800;
}

#trackList {
  font-weight: 200;
  margin-left: 12px;
  font-size: 3.5vh;
}

#trackListLine {
  width: 1.5px;
  height: 1.8vh;
  background-color: white;
}

#CPLContainer {
  letter-spacing: -1px;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 300;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(15px) brightness(1.2);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

#CPLInnerContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 85vw;
  height: 80vh;
}

#CPLTopContainer {
  display: flex;
  flex-direction: row;
  height: 10vh;
  width: 100%;
}

#CPLTopLeftContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 50%;
}

#CPLTopLeftVerticalContainer {
  margin-left: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
}

#CPLTopRightContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  width: 50%;
}

#CPLAlbumContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4vw;
}

#CPLAlbum {
  width: 100%;
  box-shadow: 0 0 0 2px white inset;
  border: 2px solid white;
}

#CPLTitle {
  color: black;
  font-size: 4vh;
  font-weight: 800;
}

#CPLTrack {
  margin-top: 2px;
  color: black;
  font-size: 3vh;
  font-weight: 500;
}

#CPLListIndex {
  padding-left: 2vw;
  padding-right: 2vw;
  display: flex;
  flex-direction: row;
  color: #666;
  font-size: 2vh;
  font-weight: 400;
  margin-top: 5vh;
  width: calc(90% - 4vw);
  height: 5vh;
}

.CPLListLeft {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 50%;
}

.CPLListRight {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
}

.CPLListRightDifficulty {
  width: 20%;
}

.CPLListRightStar {
  margin-bottom: 2px;
  width: 10%;
}

.CPLListRightStar.noMargin {
  margin-bottom: 0px;
}

#CPLListContainer {
  overflow-y: scroll;
  width: 90%;
  border-top: 2px solid #555;
  height: 55vh;
}

.CPLList {
  padding-left: 2vw;
  padding-right: 2vw;
  cursor: pointer;
  border-bottom: 2px solid #aaa;
  color: #000;
  font-size: 3vh;
  font-weight: 800;
  display: flex;
  flex-direction: column;
  width: calc(100% - 4vw);
}

.CPLList.selected {
  background-color: rgba(255, 255, 255, 0.5);
  cursor: default;
}

.CPLListTop {
  height: 9vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.CPLListBottom {
  margin-bottom: 3vh;
  height: 3vh;
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.CPLListBottom.selected {
  display: flex;
}

.CPLQuoteIcon {
  height: 3vh;
}

.CPLQuote {
  margin-left: 4px;
  font-style: italic;
  font-size: 2.5vh;
  font-weight: 500;
}

.CPLAuthor {
  margin-left: 4px;
  font-size: 2vh;
  font-weight: 500;
}

.CPLDifficulty {
  margin-left: 4px;
  font-weight: 500;
}

.CPLIcon {
  height: 2vh;
}

.CPLIcon.margin {
  margin-left: 4px;
}

.CPLRankButton {
  cursor: pointer;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 2vw;
  height: 2vw;
  border: 2px solid black;
  border-radius: 1vh;
}

.CPLPlayButton {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffffaa;
  width: 6vw;
  height: 2vw;
  border: 2px solid black;
  border-radius: 1vh;
  margin-left: 0.5vw;
  font-size: 2.5vh;
}

del {
  color: #555;
}
