@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/variable/pretendardvariable-jp-dynamic-subset.css");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap");

body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  letter-spacing: -0.3px;
  font-family: "Montserrat", "Pretendard JP Variable", system-ui, -apple-system, arial;
  background-color: white;
  margin: 3vh 3vw;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 2em;
}

span:not(:first-of-type) {
  display: inline-block;
  margin-top: 0.2em;
}

div {
  margin-bottom: 0.5em;
}

div + span {
  margin-top: 0 !important;
}

strong {
  font-weight: 600;
}

td {
  padding-top: 5px;
  padding-bottom: 5px;
}

tr > td:first-of-type {
  font-size: 1.3em;
  font-weight: 700;
  padding-right: 1em;
}

a {
  color: #000;
  text-decoration: none;
}

.copyright {
  font-size: 1em;
  color: #555;
  font-style: italic;
}

.title {
  margin-top: 1em !important;
  margin-bottom: 0.5em !important;
  font-weight: 800;
  font-size: 1.5em;
  background-color: #000;
  color: #fff;
  padding: 1px 5px;
}

.link::after {
  margin-right: 0.5em;
  margin-left: 2px;
  content: url("/images/parts/icons/link.svg");
  width: 0.1em;
}

.badgeIcon {
  height: 5em;
  margin-right: 1vw;
}
