@import url("metropolis.css");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css");

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Metropolis", "Pretendard Variable", "나눔바른고딕", arial;
  letter-spacing: -1px;
  overflow: hidden;
  user-select: none;
}

#titleContainer {
  position: fixed;
  top: 4vh;
  left: 0;
  width: 100vw;
}

#title {
  font-size: 5vh;
  font-weight: 800;
}

#contentsContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#animContainer {
  width: 20vh;
  height: 20vh;
}

#infoText {
  font-weight: 700;
  color: #444;
  margin-top: 5vh;
  font-size: 3vh;
}
