# This is a basic workflow to help you get started with Actions

name: Build and Deploy
permissions:
  contents: read

# Controls when the workflow will run
on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  deploy:
    # The type of runner that the job will run on
    runs-on: self-hosted

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install PNPM
        run: sudo npm i -g pnpm

      - name: Install dependencies
        run: pnpm install

      - name: Core file obfuscate
        run: pnpm run obfuscate

      # Runs a set of commands using the runners shell
      - name: Build project
        run: pnpm run build

      - name: Tensorflow fix
        run: |
          cd node_modules/@tensorflow/tfjs-node/
          node-pre-gyp rebuild
          cd ../../../

      - name: Prepare deployment artifact
        run: |
          pnpm --filter=urlate deploy ./deploy
          cp -r dist ./deploy/

      - name: Rsync to Production
        run: rsync -azq --exclude=/.git/ $GITHUB_WORKSPACE/deploy URLATE-PRODUCTION:${{secrets.DEPLOY_TARGET}}
